.bloco {
    color: white;
    width: 300px;
    margin: 10px;
    padding: 10px
}

#bloco-1 {
    background-color: orange;
    border: rgb(233, 176, 70) 5px solid;
}

#bloco-2 {
    background-color: rgb(49, 111, 49);
    border: rgb(91, 149, 91) 5px solid;
}

#bloco-3 {
    background-color: rgb(11, 61, 11);
    border: dashed rgb(115, 187, 115) 5px;
}

#bloco-4 {
    background-color: rgb(173, 27, 27);
    border: dashed rgb(231, 103, 103) 5px;
}

p {
    margin-top: -15px;
}

main {
    font-family: Helvetica;
}